<div id="layoutAuthentication" class="py-5">
    <div id="layoutAuthentication_content">
        <main>
            <button type="button"  id="click" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="visibility: hidden;">
            </button>
            <div class="container pb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">

                                    <div class="form-floating mb-3">
                                        <input class="form-control"   [(ngModel)]="form.user_name" />
                                        <!-- <input class="form-control"    /> -->
                                        <label for="inputEmail">Nombre usuario</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control"  [(ngModel)]="form.password" type="password"  />
                                        <!-- <input class="form-control"  /> -->
                                        <label for="inputPassword">Contraseña</label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" id="inputRememberPassword" [(ngModel)]="form.remember" type="checkbox" value="" />
                                        <!-- <input class="form-check-input" id="inputRememberPassword"  type="checkbox" value="" /> -->
                                        <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="forgot-password">Forgot Password?</a>
                                        <a class="btn btn-primary" href="index.html">Login</a>
                                        <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block">Ingresar</button>
                                    </div>

                            </div>

                            <div class="social-auth-links text-center mt-2 mb-3">
                                <a href="#" class="btn btn-block btn-primary">
                                  <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                                </a>
                                <a href="#" class="btn btn-block btn-danger">
                                  <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                                </a>
                              </div>

                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>